<div class="container" style="padding-top:10px;width:95%">
    <h2> Pessoas cadastradas </h2> <br/>
    <table style="width:100%"  class="table table-hover">
        <thead>
	        <tr>
	            <th><h3>Nome</h3></th>
				<th><h3>E-mail</h3></th>
				<th><h3>Tipo</h3></th>
			</tr>	
        </thead>
        <tbody>
			<tr ng-repeat="usuario in usuarios">
				<td>{{ usuario.nome }}</td>
				<td>{{ usuario.email }}</td>
				<td>{{ usuario.tipo.descricao }}</td>
			</tr>
        </tbody>
	</table>
</div>
